body,
html {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgba(59, 59, 59, 0.788);
}

canvas {
  height: 100vh;
  width: 100vw;
  display: block;
  background: black;
}

.h2 {
  margin-left: 10px;
  font-family: "Mali", cursive;
  color: #e31b6d;
}

button {
  font-family: "Nunito Sans", sans-serif;
}
